html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #cce6ff 50%, #E4E9FD 50%);
    min-height: 1000px;
}

.container {
    text-align: center;
    margin-top: 23px;

}

table {
    margin: auto;
}

input {
    border-radius: 69px;
    border: 1.5mm ridge #cce6ff;
    background-color: #E8E8E8;
    font-size: 20px;
    height: 31px;
    width: 317px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    border-radius: 100%;
    font-size: 26px;
    background: #cce6ff;
    box-shadow: 7px 4px 4px rgb(136, 136, 136);
    border-color: #cce6ff;
    width: 68px;
    height: 65px;
    margin: 4px;
}

.calculator {
    border: 2.8mm ridge #cce6ff;
    background-color: #ffff;
    margin: 45px auto;
    padding: 20px;
    border-radius: 53px;
    height: 470px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

h2 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
        0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc,
        0 7px 0 #ccc, 0 8px 0 #ccc,
        0 9px 0 #ccc, 0 10px 0 #ccc,
        0 11px 0 #ccc, 0 12px 0 #ccc,
        0 20px 30px rgba(0, 0, 0, 0.5);
}